/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: PingFangHK, sans-serif;
  background: #F3F5F6;
  color: #000;
}

main {
  position: relative;
  height: auto;
}

.medical {
  min-height: 950px;
  margin-top: 50px;
}

a {
  color: #1D3957;
  text-decoration: none;
}

a:hover {
  color: #27496D;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes "animate-preloader" {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes "animate-preloader" {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #F3F5F6;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #F3F5F6;
  border-top-color: #1a1814;
  border-bottom-color: #1a1814;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid #1D3957;
}

.back-to-top i {
  font-size: 28px;
  color: #1D3957;
  line-height: 0;
}

.back-to-top:hover {
  background: #1D3957;
  border-color: #35658D;
  color: #fff;
}

.back-to-top:hover i {
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 996;
}

#topbar .contact-info i {
  font-style: normal;
  color: #7F5539;
}

#topbar .contact-info i span {
  padding-left: 5px;
  color: #1D3957;
}

#topbar .languages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #7F5539;
}

#topbar .languages ul a {
  color: #1D3957;
}

#topbar .languages ul li + li {
  padding-left: 10px;
}

#topbar .languages ul li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.5);
  content: "/";
}

#topbar.topbar-scrolled {
  top: -40px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 0;
  top: 0px;
  z-index: 997;
  -webkit-box-shadow: 4px 8px 10px rgba(193, 200, 199, 0.1);
          box-shadow: 4px 8px 10px rgba(193, 200, 199, 0.1);
  background: #FFF;
  color: #000;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*--------------------------------------------------------------
	# Advanced button
	--------------------------------------------------------------*/
}

#header .container-xl {
  position: relative;
}

#header .logo {
  display: inline-block;
  width: 180px;
  font-size: 20px;
  margin: 0;
  padding: 12px 32px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

#header .logo a {
  color: #000;
}

#header .logo img {
  max-height: 40px;
}

#header .login-btn {
  width: 85px;
  padding: 4px 8px;
  border-radius: 4px;
  color: #6c6c6c;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header .login-btn a .name {
  color: #6C6C6C;
}

#header .login-btn a .other {
  color: #00292B;
}

#header .login-btn:hover {
  background: #4986B0;
}

#header .login-btn:hover a {
  color: #fff;
}

@media (max-width: 992px) {
  #header .login-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}

#header.header-scrolled {
  top: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  margin: auto;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li:hover > a {
  color: #35658D;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #000;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover {
  color: #35658D;
}

.navbar .active {
  color: #35658D;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(12, 11, 9, 0.8);
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul li:hover > a {
  color: #35658D;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #fff;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover {
  color: #35658D;
}

.navbar .dropdown ul .active:hover {
  color: #35658D;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

.navbar-mobile a:hover {
  color: #35658D;
}

.navbar-mobile .active {
  color: #35658D;
}

.navbar-mobile li:hover > a {
  color: #35658D;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul li:hover > a {
  color: #35658D;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #000;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover {
  color: #35658D;
}

.navbar-mobile .dropdown ul .active:hover {
  color: #35658D;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar.navbar-mobile > ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 0;
  overflow: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

section.disable {
  display: none !important;
  visibility: hidden;
}

section .section-title {
  margin-bottom: 12px;
  font-family: OpenSans;
  text-align: left;
}

section .section-title small {
  display: block;
  font-size: 10px;
  line-height: 1;
  margin: 0 0 5px 0;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #aaaaaa;
}

section .section-title span {
  display: block;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #6c6c6c;
}

section:not(:first-child):not(:last-child) div.container:last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid #E8EDF1;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  color: #1D3957;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li:hover a {
  color: #35658D;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #37332a;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 98px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

.medical {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.medical p {
  margin: 5px 0;
}

.medical .reminder {
  min-height: 24px;
  margin-bottom: 24px;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: left;
  color: #6c6c6c;
}

.medical .reminder.bottom-line {
  padding-bottom: 24px;
  border-bottom: 1px solid #E8EDF1;
}

.banner {
  height: 100px;
  background: #C4C4C4;
}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
#search-form {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.14px;
}

#search-form .search-bar {
  border-radius: 3px;
  border: solid 1px #a8b8c2;
  background-color: #fff;
}

#search-form .search-bar .search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: auto;
  text-align: center;
}

#search-form .search-bar .search-input {
  width: 250px;
  height: 44px;
  border: none;
}

#search-form .search-bar .form-floating label {
  padding: 10px 0;
}

#search-form button {
  height: 37px;
  margin-left: 16px;
  background: #008e96;
}

#search-form .error-message {
  width: 304px;
  height: 21px;
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#search-form .error-message p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: left;
  color: #c4040b;
}

#search-form .hidden-message {
  display: none;
  visibility: hidden;
}

/*--------------------------------------------------------------
# Initial Panel
--------------------------------------------------------------*/
#initial-panel {
  width: auto;
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding: 188px 460px;
  border-radius: 20px;
}

#initial-panel img {
  width: 200px;
  height: 200px;
  margin: 0 92px 32px;
}

#initial-panel span {
  width: 384px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #27496d;
}

/*--------------------------------------------------------------
# Personal Data
--------------------------------------------------------------*/
#personal-data {
  font-family: OpenSans;
}

#personal-data .data-column {
  width: 200px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 100px 24px 0px;
  padding: 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
}

#personal-data .data-column span {
  height: 21px;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #616161;
}

#personal-data .data-column p {
  height: 24px;
  font-size: 16px;
  letter-spacing: 0.16px;
  color: #00292b;
}

/*--------------------------------------------------------------
# Digital Account
--------------------------------------------------------------*/
#digit-account .account-state {
  width: 543px;
  height: 56px;
  padding: 12px 24px;
  border-radius: 10px;
  border: solid 1px #d7ead9;
  background-color: #ebf4ec;
}

#digit-account .account-state .state-icon {
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
  font-size: 24px;
  text-align: center;
  color: #008e96;
}

#digit-account .account-state span {
  height: 24px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #1d7228;
}

#digit-account .account-state #unlock-btn {
  width: 91px;
  height: 37px;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  border: solid 1px #008e96;
  color: #008e96;
}

#digit-account .account-state.accept {
  border: solid 1px #d7ead9;
  background-color: #ebf4ec;
}

#digit-account .account-state.accept span {
  color: #1D7228;
}

#digit-account .account-state.error {
  border: solid 1px #FAE2C7;
  background-color: #FDF0E3;
}

#digit-account .account-state.error span {
  color: #CD7304;
}

#digit-account .account-state.danger {
  border: solid 1px #FFCACC;
  background-color: #FFEAEC;
}

#digit-account .account-state.danger span {
  color: #9D1615;
}

/*--------------------------------------------------------------
# Medical Certificate
--------------------------------------------------------------*/
.medical-certificate {
  font-family: OpenSans;
}

.medical-certificate #download-btn {
  width: 91px;
  height: 37px;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #008e96;
  color: #fff;
}

.medical-certificate .data-reminder {
  width: 181px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 3px;
  border: solid 1px #a8b8c2;
  background-color: #fff;
}

.medical-certificate .data-reminder p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: left;
  color: #0a0a25;
}

.medical-certificate .data-reminder span {
  width: 21px;
  height: 21px;
  margin-left: 8px;
  background: #C4C4C4;
  border-radius: 2px;
}

.medical-certificate .tab-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #F5F5F5;
  color: #4F5E71;
}

.medical-certificate .tab-btns button {
  width: 75px;
  height: 43px;
  border-radius: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.16px;
  text-align: center;
  color: #4f5e71;
}

.medical-certificate .tab-btns button:not(:nth-child(1)) {
  margin-left: -10px;
}

.medical-certificate .tab-btns button:first-child {
  border-radius: 9px 0 0 9px;
}

.medical-certificate .tab-btns button:last-child {
  border-radius: 0 9px 9px 0;
}

.medical-certificate .tab-btns button.active {
  background: #00A2AE;
  color: #fff;
}

.medical-certificate .filter-btns button {
  width: 69px;
  height: 29px;
  gap: 8px;
  margin-right: 20px;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.14px;
  text-align: center;
  color: #00292b;
  background-color: #dae0e5;
}

.medical-certificate .record-table {
  padding: 20px 15px;
}

.medical-certificate .record-table table {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.medical-certificate .record-table table tr {
  height: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: left;
}

.medical-certificate .record-table table th {
  border-bottom: 1px solid #a8b8c2;
  font-weight: 600;
  color: #00292b;
}

.medical-certificate .record-table table td {
  width: 200px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  color: #00292b;
}

.medical-certificate .record-table table td input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: solid 1px #a8b8c2;
  background: #fff;
}

.medical-certificate .record-table table td input[type="checkbox"] .disable {
  background: #eff2f5;
}

.medical-certificate .record-table table td .download-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 69px;
  height: 32px;
  border: 1px solid #008E96;
  border-radius: 4px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  background: transparent;
  color: #007A7F;
}

.medical-certificate .record-table table td .download-button span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background: #C4C4C4;
  border-radius: 2px;
}

.medical-certificate .record-table table td .download-button.disable {
  border: 1px solid #79D8DC;
  color: #79D8DC;
}

.medical-certificate .record-table.management table td:first-child {
  width: 71px;
  border-bottom: none;
  text-align: center;
}

.medical-certificate .record-table.management table td:nth-child(4) {
  width: 250px;
}

.medical-certificate .record-table.apply table td:last-child {
  width: 100px;
  border-bottom: none;
  text-align: center;
}

.medical-certificate .record-table.apply table td:nth-child(2) {
  width: 250px;
}

.medical-certificate .record-table.apply table td:nth-child(5) {
  width: 298px;
}

/*--------------------------------------------------------------
# Login Form
--------------------------------------------------------------*/
#login-form {
  position: relative;
  width: 50%;
  padding: 0;
}

#login-form .form-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 960px;
  background: #fff;
}

#login-form .form-columns .title {
  height: 43px;
  margin-bottom: 56px;
  font-family: OpenSans;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.36px;
  text-align: left;
  color: #00292b;
}

#login-form .form-columns .login-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 412px;
  margin-bottom: 32px;
}

#login-form .form-columns .login-card span {
  display: block;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.14px;
  text-align: left;
  color: #00292b;
}

#login-form .form-columns .login-card span i {
  margin: 0 5px;
  color: #C4040B;
}

#login-form .form-columns .login-card input {
  width: 100%;
  height: 45px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 3px;
  border: solid 1px #c1ccd2;
  background-color: #fff;
}

#login-form .form-columns .login-card button {
  width: 100%;
  height: 48px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: #008e96;
  color: #fff;
}

#login-form .form-columns .login-card .error-message {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #C4040B;
}

#login-form .form-columns .login-card .loginHelp {
  height: 17px;
  margin-top: 16px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: #008e96;
}

#login-form .form-columns .login-card.error input {
  border-color: #C4040B;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
}

.search .filter .filter-box {
  position: relative;
  width: auto;
  min-width: 80px;
  height: 43px;
  margin-right: 14px;
  margin-bottom: 20px;
}

.search .filter .filter-box .filter-text {
  border: 1px solid #cfcfcf;
  color: #1D3957;
  background-color: white;
  border-radius: 0.8rem;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  height: 100%;
  font-size: 1rem;
}

.search .filter .filter-box .filter-text:hover {
  background-color: #ffe7c3;
  -webkit-box-shadow: rgba(54, 54, 54, 0.5) 0px 1px 2px;
          box-shadow: rgba(54, 54, 54, 0.5) 0px 1px 2px;
}

.search .filter .filter-box .option-box {
  position: absolute;
  height: 300px;
  width: 400px;
  left: 0px;
  top: calc(100% + 6px);
  margin: 0;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid #cfcfcf;
  color: #1D3957;
  background-color: white;
}

.search .filter .filter-box .option-box .options {
  height: 60%;
  margin: 0.5rem auto;
  font-size: 1.2rem;
  border-bottom: 0.5px solid #cfcfcf;
  overflow-y: scroll;
}

.search .filter .filter-box .option-box .options input {
  height: 1.2rem;
  width: 1.2rem;
  margin: auto 0.2rem;
  background: #fff;
  border: 2px solid #9c9c9c;
  cursor: pointer;
}

.search .filter .filter-box .option-box button {
  height: 50px;
  width: 80px;
  margin: 5px;
  background: #7F5539;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.search .filter .hidden-box {
  display: none;
}

.search .result .result-row {
  margin: 1rem auto;
}

.search .result .restaurant-box {
  width: 32%;
  padding: 0.8rem;
  margin: auto 1%;
  border: 0 solid #cfcfcf;
  background-color: white;
  border-radius: 0.8rem;
  cursor: pointer;
}

.search .result .restaurant-box:nth-child(3n+1) {
  margin-left: 0;
}

.search .result .restaurant-box:nth-child(3n) {
  margin-right: 0;
}

.search .result .restaurant-box:hover {
  border: 1px;
  -webkit-box-shadow: rgba(54, 54, 54, 0.5) 3px 3px 10px;
          box-shadow: rgba(54, 54, 54, 0.5) 3px 3px 10px;
}

.search .result .restaurant-box div + div {
  margin-top: 5px;
}

.search .result .restaurant-box img {
  width: 100%;
  border-radius: 0.8rem;
}

.search .result .restaurant-box p {
  margin-bottom: auto;
}

/*--------------------------------------------------------------
# Detail
--------------------------------------------------------------*/
.detail .img-wall {
  width: 100%;
  height: 300px;
  margin: 10px auto;
}

.detail .img-wall img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.detail .img-wall .img-block {
  position: relative;
  width: 18.5%;
  max-width: 100%;
  height: 100%;
  margin: 2.5px;
  overflow: hidden;
}

.detail .img-wall .img-block:first-child {
  width: 63%;
}

.detail .img-wall .img-block:first-child div {
  height: 100%;
}

.detail .img-wall .img-block div {
  height: 50%;
}

.detail .img-wall .img-block div:first-child {
  margin-bottom: 5px;
}

.detail .intro p {
  margin-bottom: 0;
}

.detail .intro p:nth-child(2) {
  color: #cfcfcf;
}

.detail .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail .tabs .tab-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: auto;
  min-width: 100px;
  margin-right: 5px;
}

.detail .tabs .tab-button.active {
  border-bottom: 1px solid #7F5539;
}

.detail #restaurant-content {
  height: 700px;
  padding-bottom: 20px;
}

.detail #restaurant-content .tab-content {
  display: none;
  height: 100%;
  margin: 10px;
}

.detail #restaurant-content .tab-content:first-child {
  display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: relative;
  width: 100%;
  border-top: 1px #E0E0E0 solid;
  color: #1D3957;
  font-size: 14px;
}

#footer .connect-us {
  margin: 39px 7px;
}

#footer .connect-us a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #007A7F;
}

#footer .copyright {
  margin: 39px 7px;
  text-align: center;
  font-family: 'PingFang HK';
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #616161;
}
/*# sourceMappingURL=style.css.map */